<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ぽんこつガリバートンネル</title>
    <meta name="viewport" content="width=500">
</head>

<body>
<p>　　 ぽんこつ<br>\ ガリバートンネル /</p>
	<form method="post" action="{{ url_for("output")}}">
        <p><font size="2">入口：</font><br>
            <label>
                <input type="text" name="name" size="14">
            </label>さん</p>
		<button type="submit"> ↓↓↓　くぐる　↓↓↓ </button>
	</form>
        <p><font size="2">出口：</font></p>
            {% if num | random == 0 %}
                <p style="font-size:30%; margin-top:0%">{{name}}さん</p>
            {% elif num | random == 1 %}
                <p style="font-size:800%; margin-top:-3%">{{name}}さん</p>
            {% else %}
                <p style="font-size:800%; margin-top:-3%">{{name}}さん</p>
        {% endif %}
</body>

</html>
